<mat-card>
    <form [formGroup]="SuppliersForm" (ngSubmit)='OnSubmit()'>
        <mat-tab-group>
          <mat-tab label="Supply "> 
            <br>
            <div class="example-container">
                <div class="row col-xs-12">
                    <div class="col-xs-5">
                      <mat-form-field appearance="outline">
                          <mat-label> Product </mat-label>
                          <mat-select  matInput  formControlName="product">
                          
                          <mat-option *ngFor="let items of producttype; let i = index" value="{{items.id}}">
                            {{items.name}}
                           </mat-option>
                           </mat-select>
                          
                      </mat-form-field>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-5">
                        <mat-form-field appearance="outline">
                            <mat-label>Supplied To</mat-label>
                            <mat-select  matInput  formControlName="suppliedTo">
                          
                              <mat-option *ngFor="let items of customertype; let i = index" value="{{items.id}}">
                                {{items.name}}
                               </mat-option>
                               </mat-select>
                          <input matInput placeholder="id "  type= "text" formControlName="id" hidden>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row col-xs-12">
                    <div class="col-xs-5">
                        <mat-form-field appearance="outline">
                            <mat-label>Quantity</mat-label>
                          <input matInput placeholder="Quantity"  type= "text" formControlName="quantity">
                        
                        </mat-form-field>                
                      </div>
                      <div class="col-xs-2"></div>
                      <div class="col-xs-5">
                          <mat-form-field appearance="outline">
                              <mat-label>Date</mat-label>
                            <input matInput placeholder="Date"  type= "datetime" formControlName="date">
                            
                          </mat-form-field>
                        </div>                
                      </div>
                     
                             <div class=" row col-xs-12">
                             <div class="col-xs-5">
                                <mat-form-field appearance="outline">
                                    <mat-label>Validity</mat-label>
                                  <input matInput placeholder="Validity"  type= "text" formControlName="validity">
                                  
                                </mat-form-field>                
                              </div>
                              <div class="col-xs-2"></div>
                              <!-- <div class="col-xs-5">
                                  <mat-form-field appearance="outline">
                                      <mat-label>1000 Years</mat-label>
                                    <input matInput placeholder="1000 Years"  type= "number">
                                 
                                  </mat-form-field>
                                </div>          -->
            </div>
                                                   
                      </div>             
        
          </mat-tab>
          
        </mat-tab-group>
        <div class="example-button-row" >
            <button class="btn btn-success" type="submit">Add</button>
            <button class="btn btn-danger" type="button">Reset</button>
            <button class="btn btn-danger" type="button">Cancel</button>
          </div>
          <br>
          </form>
          <mat-card>
              <mat-card-title>List of all Products</mat-card-title>
          <div class="card-body table-responsive">
            <table class="table table-hover table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">id:</th>
                        <th scope="col">product:</th>
                        <th scope="col">suppliedTo</th>
                        <th scope="col">quantity</th>
                        <th scope="col">date</th>
                        <th scope="col">validity</th>
                      


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let items of suppliers; let i = index">
                        <td (click)="populateForm(items)">{{i + 1}}</td>
                        <td (click)="populateForm(items)">{{items.product}}</td>
                        <td (click)="populateForm(items)">{{items.suppliedTo}}</td>
                        <td (click)="populateForm(items)">{{items.quantity}}</td>
                        <td (click)="populateForm(items)">{{items.date}}</td>
                        <td (click)="populateForm(items)">{{items.validity}}</td>
                        
                        
                    </tr>
                </tbody>
            </table>
        </div>
        </mat-card>
        </mat-card>
        
