<mat-card>
        <mat-tab-group>
          <mat-tab label="Transaction "> 
            <br>
            <div class="example-container">
                <div class="row col-xs-12">
                    <div class="col-xs-5">
                      <mat-form-field appearance="outline">
                          <mat-label> Customer </mat-label>
                        <input matInput placeholder=" Customer" type= "text">
                        <!-- <mat-hint align="end" >Km sq</mat-hint> -->
                      </mat-form-field>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-5">
                        <mat-form-field appearance="outline">
                            <mat-label>Amount</mat-label>
                          <input matInput placeholder="Amount"  type= "text">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row col-xs-12">
                    <div class="col-xs-5">
                        <mat-form-field appearance="outline">
                            <mat-label> Date</mat-label>
                          <input matInput placeholder=" Date"  type= "number">
                        
                        </mat-form-field>                
                      </div>
                      <div class="col-xs-2"></div>
                      <div class="col-xs-5">
                          <mat-form-field appearance="outline">
                              <mat-label>Type</mat-label>
                            <input matInput placeholder="Type"  type= "text">
                            
                          </mat-form-field>
                        </div>                
                      </div>
                     
                                
                      </div>             
        
          </mat-tab>
          
        </mat-tab-group>
        <div class="example-button-row" >
            <button class="btn btn-success" type="button">Add</button>
            <button class="btn btn-danger" type="button">Reset</button>
            <button class="btn btn-danger" type="button">Cancel</button>
          </div>
          <br>
          <mat-card>
              <mat-card-title>List of all Products</mat-card-title>
          <div class="card-body table-responsive">
            <table class="table table-hover table table-bordered table-striped">
                <thead>
                    <tr>
                    
                        <th scope="col">Name:</th>
                        <th scope="col">Type</th>
                        <th scope="col">Expiry Date</th>
                        <th scope="col">Category</th>
                    
                      


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Milk</td>
                        <td>Dudh ho DDC</td>
                        <td>Available</td>
                   
                        
                        
                    </tr>
                </tbody>
            </table>
        </div>
        </mat-card>
        </mat-card>
        
